<div class="row">
  <div class="col-md-12">
    <h3><strong>Lista de estudiantes en la familia:</strong></h3>
  </div>
</div>
<div class="row" *ngFor="let estudiante of students">
  <div class="container">
    <div class="notice notice-lg">
        <strong>Nombre del estudiante: </strong> {{estudiante.NOMBRE_EST}}
    </div>
</div>
</div>
<form [formGroup]="editarFamiliaForm" *ngIf="familia">
    <div class="row">
        <div class="col-md-6">
          <label for="nombreFamilia">Nombre de la Familia:</label>
          <input type="text" class="form-control" id="nombreFamilia" formControlName="nombreFamilia">
        </div>
        <div class="col-md-6">
          <label for="numHijos">Número de Hijos:</label>
          <input type="number" class="form-control" id="numHijos" formControlName="numHijos">
        </div>
      </div>
      <div class="row">
          <div class="col-md-6">
            <label for="descuentoFamilia">Descuento (en dólares: 1500 si tiene 3 hijos o más, 500 si tiene 2 hijos, etc.):</label>
            <input type="number" class="form-control" id="descuentoFamilia" formControlName="descuentoFamilia">
          </div>
      </div>
    </form>
    <div class="row">
      <div class="col-md-9"></div>
      <div class="col-md-3">
          <button class="btn btn-primary btn-lg" (click)="actualizarDatos()">Actualizar</button>
          <button class="btn btn-danger btn-lg" type="button" (click)="onReturn()">Cancelar</button>
      </div>
    </div>

