<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 reporte">
      <h2>Reportes de Estudiantes</h2>
    </div>
  </div>
</div>
<h2>Seleccione una opción aquí:</h2>
<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Filtrar por:
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a style="cursor: pointer;" (click)="onGetStudentEstado()">Estado (Matriculado o Pendiente)</a></li>
    <li><a style="cursor: pointer;" (click)="onGetStudentCategoria()">Categorías (Normal, Misionero, Staff, Profesores)</a></li>
    <li class="dropdown-header">Descuentos:</li>
    <li><a style="cursor: pointer;" (click)=onGetStudentDesc()>Descuento (si tiene descuento o no)</a></li>
    <li><a style="cursor: pointer;" (click)=onGetStudentAyud()>Ayuda Financiera</a></li>
    <li class="dropdown-header">Pagos:</li>
    <li> <a style="cursor: pointer" (click)="onGetStudentMetodoPago()">Método de pago (Tarjeta de credito, cheque, etc.)</a></li>
    <li><a style="cursor: pointer;" (click)="onGetStudentFormaPago()">Forma de pago (Anual, Semestral o Mensual)</a></li>

    <!--<li><a style="cursor: pointer;">
      <form [formGroup]="fechaForm" (ngSubmit)="onSubmitFecha()">
      <div class="form-group">
          <label for="fechaReporte">Seleccione una fecha:</label>
          <input id="fechaReporte" name="fechaReporte" type="date" formControlName="fechaReporte">
          <br>
          <button class="btn btn-primary" type="submit">Buscar</button>
      </div>
    </form>
    </a></li>-->
  </ul>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-6">
    <h2><strong>{{mensaje}}:</strong></h2>
  </div>
</div>
<br>
<!--<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-6" [hidden]="loading">
      <p>Cargando estudiantes ...</p>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
</div>
<div [hidden]="!loading">
  <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-6 pre-scrollable">
          <a
          *ngFor="let student of students"
            style="cursor: pointer;"
            class="list-group-item clearfix"
            appSelected >
          <div class="pull-left">
            <p class="list-group-item-heading">{{ student?.NOMBRE_EST }}</p>
          </div>
          </a>
        </div>
    </div>
    -->
    <hr>
    <div [hidden]="!chart">
        <canvas id="canvas"> {{chart}} </canvas>
      </div>
    <!--<div class="row">
      <div class="col-md-7"></div>
      <div class="col-md-2"><button [routerLink]="['/reporte-descuento', index]" class="btn btn-primary">Aceptar</button></div>-->

